<html>
    <head>
      <title>Manager</title>
      <h1>管理者--書目管理</h1>
    </head>
    <body>
        <button onclick="location.href='{{ url_for('delete_book_search',account=account,password=password) }}'" >書目刪除</button>
        <button onclick="location.href='{{ url_for('insert_book_input',account=account,password=password) }}'" >書目新增</button>
        <button onclick="location.href='{{ url_for('login_successed',account=account, password=password) }}'" >回到管理者首頁</button>
    </body>
</html>

<body>
    <hr>
    <div><a href="/library">登出</a></div>
</body>