<html>
    <head>
      <title>Manager</title>
      <h1>管理者--成員管理</h1>
    </head>
    <body>
        <button onclick="location.href='{{ url_for('manager_change_password',account=account,password=password, change_account=change_account) }}'" >更改密碼</button>
        <button onclick="location.href='{{ url_for('change_email_input',account=account,password=password,change_account=change_account) }}'" >更改信箱</button>
    </body>
</html>

<button onclick="location.href='{{ url_for('login_successed',account=account, password=password) }}'" >回到{{ back_home }}首頁</button>

<body>
    <hr>
    <div><a href="/library">登出</a></div>
</body>

