<title>Delete People</title>
<h1>確認要刪除？</h1>
<form method="POST" action="{{ url_for('delete_peo_solution',select_peo_id=select_peo_id,account=account,password=password) }}">
  <table>
    <thead>
    <th>成員編碼</th>
    <th>成員身份</th>
    <th>成員班級</th>
    <th>成員號碼</th>
    <th>成員姓名</th>
    </thead>
    <tbody>
      <meta charset="UTF-8">
        <tr>
            <td>{{ select_delete_peo[1] }}</td>
            <td>{{ select_delete_peo[2] }}</td>
            <td>{{ select_delete_peo[3] }}</td>
            <td>{{ select_delete_peo[4] }}</td>
            <td>{{ select_delete_peo[5] }}</td>
        </tr>
    </tbody>
</table>
  <input type="submit" value="Go">
</form>

<button onclick="location.href='{{ url_for('login_successed',account=account, password=password) }}'" >回到{{ back_home }}首頁</button>

<body>
	<hr>
	<div><a href="/library">登出</a></div>
</body>

