<title>Login</title>
<h1>要刪除的書目關鍵字</h1>
{% if error %}
  {{ error }}
{% else %}
{% endif %}
{% from "_field.html" import render_field %}
<form method="POST" action="{{ url_for('delete_book_input',account=account,password=password) }}">
  {{ form.hidden_tag() }}
  <table>
    {{ render_field(form.key_word) }}
  </table>
  <input type="submit" value="Go">
</form>

<button onclick="location.href='{{ url_for('login_successed',account=account, password=password) }}'" >回到{{ back_home }}首頁</button>

<body>
	<hr>
	<div><a href="/library">登出</a></div>
</body>



